# ======================
# Python
# ======================
__pycache__/
*.py[cod]
*.pyo
*.pyd
*.egg-info/
.eggs/
.env
.venv
venv/
ENV/
.envrc

# ======================
# Virtual environments
# ======================
pip-wheel-metadata/
.pytest_cache/
.mypy_cache/
.ruff_cache/

# ======================
# OS / Editors
# ======================
.DS_Store
.idea/
.vscode/
*.swp
*.swo

# ======================
# Logs & Reports
# ======================
*.log
reports/output/
reports/tmp/

# ======================
# AWS / Credentials
# ======================
*.pem
*.key

# ======================
# Build artifacts
# ======================
dist/
build/
